@charset "utf-8";

@font-face {
    font-family: 'museo_sans_cyrl100';
    src: url('../fonts/museosanscyrl.eot');
    src: url('../fonts/museosanscyrl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl.woff2') format('woff2'),
         url('../fonts/museosanscyrl.woff') format('woff'),
         url('../fonts/museosanscyrl.ttf') format('truetype'),
         url('../fonts/museosanscyrl.svg#museo_sans_cyrl100') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fonts/museosanscyrl_0.eot');
    src: url('../fonts/museosanscyrl_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_0.woff2') format('woff2'),
         url('../fonts/museosanscyrl_0.woff') format('woff'),
         url('../fonts/museosanscyrl_0.ttf') format('truetype'),
         url('../fonts/museosanscyrl_0.svg#museo_sans_cyrl300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/museosanscyrl_1.eot');
    src: url('../fonts/museosanscyrl_1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_1.woff2') format('woff2'),
         url('../fonts/museosanscyrl_1.woff') format('woff'),
         url('../fonts/museosanscyrl_1.ttf') format('truetype'),
         url('../fonts/museosanscyrl_1.svg#museo_sans_cyrl500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url('../fonts/museosanscyrl_2.eot');
    src: url('../fonts/museosanscyrl_2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_2.woff2') format('woff2'),
         url('../fonts/museosanscyrl_2.woff') format('woff'),
         url('../fonts/museosanscyrl_2.ttf') format('truetype'),
         url('../fonts/museosanscyrl_2.svg#museo_sans_cyrl700') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_cyrl300';
    src: url('../fonts/exljbris_-_museo_cyrl_300.eot');
    src: url('../fonts/exljbris_-_museo_cyrl_300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exljbris_-_museo_cyrl_300.woff2') format('woff2'),
         url('../fonts/exljbris_-_museo_cyrl_300.woff') format('woff'),
         url('../fonts/exljbris_-_museo_cyrl_300.ttf') format('truetype'),
         url('../fonts/exljbris_-_museo_cyrl_300.svg#museo_cyrl300') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_cyrl500';
    src: url('../fonts/exljbris_-_museo_cyrl_500.eot');
    src: url('../fonts/exljbris_-_museo_cyrl_500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exljbris_-_museo_cyrl_500.woff2') format('woff2'),
         url('../fonts/exljbris_-_museo_cyrl_500.woff') format('woff'),
         url('../fonts/exljbris_-_museo_cyrl_500.ttf') format('truetype'),
         url('../fonts/exljbris_-_museo_cyrl_500.svg#museo_cyrl500') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'museo_sans_cyrl300';
	overflow-x: hidden;
	overflow-y: scroll;
	color: #000;
}
a{
	text-decoration: none;
	color: #000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 2px solid #F97171 !important;
}
.ps-lines{
	display: none;
}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #c7c7c7;
}
input:-moz-placeholder {
	color: #c7c7c7;
}
.b-blue-butt{
	font-family: "museo_sans_cyrl300";
	font-size: 14px;
	line-height: 1.2;
	color: #fff;
	width: 125px;
	padding: 9px 0 8px;
	display: inline-block;
	border: none;
	background-color: #00CEFC;
	text-align: center;
	cursor: pointer;
}
	.b-blue-butt:hover{
		background-color: #00B7E8;
	}
.b-text{
	text-align: left;
	padding: 50px 0;
}
.b-text p,.b-text ul li,.b-text table tr td,.b-text table tr th{
	color: #5a5a5a;
	font-family: "museo_sans_cyrl100";
    font-size: 14px;
    line-height: 1.75;  
    margin-bottom: 15px;
}
.b-text h4{
	color: #000;
	font-family: "museo_sans_cyrl300";
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.b-text h3{
	font-size: 24px;
    color: #2d2d2d;
	line-height: 1.2;
	margin-bottom: 10px;
}
.b-text h2{
	color: #000;
    font-family: "museo_cyrl500";
    font-size: 24px;
    line-height: 1.2;
   	margin-bottom: 18px;
}
.b-text img {
	margin-top: 10px;
    margin-bottom: 20px;
	max-width: 100%;
	max-height: 100%;
}
.b-text ul{
	margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.b-text ul li{
	list-style: disc;
	padding-left: 5px;
	margin-bottom: 9px;
}
.b-text table{
	border-color: #B4B4B4;
	width: 100%;
	margin-bottom: 20px;
}
.b-text table tr{
	
}
.b-text table tr td,.b-text table tr th{
	padding: 10px;
}
.b-text table tr th{
	font-family: "museo_cyrl500";
}
.desc-content .b-text{
	padding: 0px;
}
p {
	color: #5a5a5a;
}

.fancybox-close {
	display: none;
}
.fancybox-skin {
	background: none;
}
.fancybox-opened .fancybox-skin {
	box-shadow: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.b-popup {
	width: 270px;
	padding: 24px 21px 25px;
	border-radius: 10px;
	background-color: #fff;
	box-sizing:border-box;
	position: relative;
	margin-bottom: 30px;
	z-index: 9999;
}
	.b-popup h3 {
		font-family: "museo_sans_cyrl500";
		font-size: 14px;
		line-height: 1.571;
		color: #5a5a5a;
		margin-bottom: 11px;
	}
	.b-thanks {
		width: 300px;
	}
	.b-thanks h3 {
		font-size: 18px;
	}
	.b-popup h4 {
		font-family: "museo_sans_cyrl300";
		font-size: 16px;
		line-height: 1.2;
		color: #5a5a5a;
	}
	.b-popup input {
		border-radius: 17px;
	    border: 2px solid #00CEFC;
	    padding: 8px 14px 7px;
	    width: 225px;
	    box-sizing: border-box;
	    font-family: "museo_sans_cyrl300";
	    font-size: 16px;
	    margin-top: 14px;
	
}
	.b-popup input[type=submit] {
		margin-top: 25px;
		width: 158px;
		cursor: pointer;
	}
.title {
	font-family: "museo_cyrl500";
	font-size: 36px;
	color: #262626;
	line-height: 1.2;
}
.b-header{
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.13);
	position: relative;
	z-index: 100;
} 
	.b-header .b-block {
		font-size: 16px;
		height: 114px;
	}	
		.b-header .b-block .logo {
			display: table;
			font-size: 0;
			height: 100%;
		}
			.b-header .b-block .logo a {
				display: table-cell;
				vertical-align: middle;
			}
		.b-hover-block {
		    position: absolute;
		    left: 0px;
		    top: 0;
		    background-color: #00CEFC;
		    height: 6px;	
		}
		.b-header .b-block .b-main-menu {
			margin-left: 30px;
			height: 100%;
			display: table;
		}
			.b-header .b-block .b-main-menu > div {
				display: table-cell;
				vertical-align: middle;
				
			}
		.b-header .b-block .b-main-menu ul {
		}
			.b-header .b-block .b-main-menu ul li.menu-item {
				float: left;
				margin-right: 5px;
				position: relative;
			}
			.b-header .b-block .b-main-menu ul li.menu-item:hover ul {
				opacity:1;
			    visibility:visible;
			    -moz-transition: -moz-transform .3s, opacity .3s linear, visibility .1s linear .1s;
			    -webkit-transition: -webkit-transform .3s, opacity .3s linear, visibility .1s linear .1s;
			    -o-transition: -o-transform .3s, opacity .3s linear, visibility .1s linear .1s;
			    transition: transform .3s, opacity .3s linear, visibility .1s linear .1s;
			    -webkit-transform: translateY(0px);
			       -moz-transform: translateY(0px);
			        -ms-transform: translateY(0px);
			       	 -o-transform: translateY(0px);
			    		transform: translateY(0px);
				
			}
			.b-header .b-block .b-main-menu ul li.active{
			}
				.b-header .b-block .b-main-menu ul li.menu-item a{
					padding: 15px;		
					display: block;
				
}
			.b-header .b-block .b-main-menu ul li.menu-item ul {
				padding: 10px 0;
    			background-color: #00CEFC;
    			position: absolute;
    			border-radius: 4px;
    			top: 42px;
    			left: -5px;
    			text-align: left;
				opacity:0;
			    visibility:hidden;
			    -webkit-transform: translateY(-10px);
			       -moz-transform: translateY(-10px);
			        -ms-transform: translateY(-10px);
			       	 -o-transform: translateY(-10px);
			    		transform: translateY(-10px);

			}
				.b-header .b-block .b-main-menu ul li.menu-item ul:before{
					position: absolute;
    				content: "s";
    				font-size: 0px;
    				width: 20px;
    				height: 8px;
    				left: 16px;
    				top: -8px;
    				background-position: 50% 0%;
    				background-repeat: no-repeat;
    				background-image: url('../i/triangle.png');
    				background-size: 20px;
				}
				.b-header .b-block .b-main-menu ul li.menu-item ul li{
			
				}
					.b-header .b-block .b-main-menu ul li.menu-item ul li a{
						color: #fff;
						padding: 10px 20px;
						font-size: 16px;
						font-family: 'museo_sans_cyrl100';
					}
						.b-header .b-block .b-main-menu ul li.menu-item ul li a:hover {
							text-decoration: underline;
						}
		.b-header .b-block .b-date-cont {
			text-align: right;
			display: table;
			height: 100%;
		}
			.b-header .b-block .b-date-cont > div {
				display: table-cell;
				vertical-align: middle;
			}
			.b-header .b-block .b-date-cont h2{
				font-family: "museo_sans_cyrl500";
				font-size: 16px;
				color: #5a5a5a;
			}
			.b-header .b-block .b-date-cont a{
				text-decoration: underline;
				color: #00CEFC;
				display: block;
				margin-top: 5px;
			}
				.b-header .b-block .b-date-cont a:hover{
					text-decoration: none;
				}
		.b-header .b-block .b-search-cont {
			display: table;
			height: 100%;
		
			margin-right: 35px;
}
			.b-header .b-block .b-search-cont > div{
				display: table-cell;
				vertical-align: middle;			
			}
				.b-header .b-block .b-search-cont > div .search {
					min-width: 36px;
					min-height: 36px;
					box-sizing:border-box;
					border: 2px solid #fff;
					position: relative;
					padding-left: 32px;
					border-radius: 18px;
					cursor: text;
				}
				.b-header .b-block .b-search-cont > div .search:hover {
					border: 2px solid #00CEFC !important;
				}
					.b-header .b-block .b-search-cont > div .search:before {
						background-image: url("../i/search.png");
						background-repeat: no-repeat;
						background-position: 50%;
						position: absolute;
						width: 18px;	
						height: 18px;
						content: "s";
						font-size: 0px;
						top: 7px;
						left: 7px;
					}
					.b-header .b-block .b-search-cont > div .search input[type="text"] {
						border: none;
						font-family: "museo_sans_cyrl300";
						font-size: 15px;
						display: none;
						width: 120px;
						padding: 8px 0 7px;
						margin-right: 15px;
					}
					.b-header .b-block .b-search-cont > div .search input[type="submit"]{
						cursor: pointer;
						display: none;
						position: absolute;
    					left: 0px;
    					top: 0px;
    					border: none;
    					background-color: transparent;
    					width: 32px;
    					height: 32px;
    					border-radius: 50px 0px 0px 50px;
					}

.b-main-slider {
	color: #fff;
	opacity: 0;
}
	.b-main-slider  .slick-dots{
		position: absolute;
		right: 50%;
		margin-right: -478px;
		bottom: 46px;
	}
		.b-main-slider  .slick-dots li {
			display: inline-block;
			vertical-align: top;
			margin-right: 23px;
		}
		.b-main-slider  .slick-dots li:last-child {
			margin-right: 0;
		}
		.b-main-slider  .slick-dots li button{
			font-size: 0;
			border: none;
			width: 15px;
			display: block;
			height: 15px;
			border-radius: 50%;
			background-color: rgba(255,255,255,0.5);
			cursor: pointer;
		}
			.b-main-slider  .slick-dots li.slick-active button{
				background-color: #fff;
				cursor: default;
			}
	.b-main-slider .slide{
		background-size: cover;
		background-position: 50% 100%;
	}
	.b-main-slider .b-block {
		padding-top: 51px;
	
		padding-bottom: 43px;
}
		.b-main-slider .b-block h2{
			font-family: "museo_cyrl300";
			color: #fff;
			font-size: 47.34px;
			padding: 0 9%;
}
		.b-main-slider .b-block .city{
			text-align: left;
			margin-top: 269px;
		}
			.b-main-slider .b-block .city h3{
				font-size: 30px;
				text-align: left;
			}
.b-advantages {

}
	.b-advantages .b-block {

	}
	.b-advantages .b-block ul{
	}
		.b-advantages .b-block ul li{
			display: table;
			float: left;
			height: 164px;
			width: 25%;
			vertical-align: middle;
			text-align: left;
		}
			.b-advantages .b-block ul li div{
				display: table-cell;
				vertical-align: middle;
			}
			.b-advantages .b-block ul li h3{
				font-family: "museo_sans_cyrl300";
				font-size: 20px;
				line-height: 1.3;
				display: table-cell;
				vertical-align: middle;
				padding-left: 16px;
			}
			.b-advantages .b-block ul li:nth-child(4n){
				float: right;
				width: 200px;
			}
.b-about {
	padding: 50px 0 50px 0;
	background-image: url("../i/about-back.jpg");
	background-size: cover;
	background-position: 50% 0%;
}
	.b-about .b-block {
		background-color: rgba(255,255,255,0.851);
		border-radius: 5px;
		padding: 19px 44px 30px;
		box-sizing: border-box;
		text-align: left;
	}
		.b-about .b-block h2{
			margin-bottom: 11px;
		}
		.b-about .b-block .line {
			width: 100%;
			height: 4px;
			border-radius: 5px;
			background-color: #00CEFC;
		}
		.b-about .b-block p{
			font-family: "museo_sans_cyrl300";
			font-size: 18px;
			line-height: 1.556;
			margin-top: 24px;
}
.b-city {

}
	.b-city .b-block {
		text-align: left;
		padding-top: 48px;
	
		padding-bottom: 60px;
}
		.b-city .b-block h2{
		
		}
		.b-city .b-block ul{
    
		
		}
			.b-city .b-block ul li{
				background-size: cover;
				background-position: 50% 50%;
				width: 469px;
				height: 300px;
				float: left;
				vertical-align: bottom;
				position: relative;
				margin-top: 25px;
			}
			.b-city .b-block ul li a {
				display: block;
				width: 100%;
				height: 100%;
			}
			.b-city .b-block ul li:nth-child(2n) {
				float: right;
			}
				.b-city .b-block ul li .city-cont{
					width: 100%;
					box-sizing: border-box;
				    position: absolute;					
				    bottom: 0;		    
					padding: 21px 15px 0 25px;    
					background-position: 50% 100%;
				}
					.b-city .b-block ul li .city-cont h3{
						font-family: "museo_sans_cyrl300";
						font-size: 20px;
						line-height: 1.3;
						margin-bottom: 17px;
					}
					.b-city .b-block ul li .city-cont .city-desc {
						display: none; 
					}
					.b-city .b-block ul li .city-cont .city-desc span{
						width: 150px;
						height: 2px;
						display: block;
						background-color: #00CEFC;
					}
					.b-city .b-block ul li .city-cont .city-desc p{
						font-family: "museo_sans_cyrl100";
						font-size: 14px;
						padding: 13px 0 0;
						line-height: 1.857;
					
						margin-bottom: 21px;
}
.b-top-excurs {
	background-color: #f5f5f5;
}
	.b-top-excurs .b-block {
		text-align: left;
		padding-top: 43px;	
		padding-bottom: 45px;
}
	.b-top-excurs .b-block .tabs{
    	margin-top: 23px;
		
	}
		.tabs li{
			float: left;
			margin-right: 26px;
			font-family: "museo_sans_cyrl300";
			font-size: 18px;
			line-height: 1.2;
			color: #323232;
			border-radius: 17px;
			border: 2px solid #00CEFC;
			padding: 6px 14px 5px;
			display: block;

		}
			.tabs li:hover{
				background-color: #cfeff9;
				cursor: pointer;
			}
			.tabs li.active,.tabs li.active:hover {
				cursor: default;
				color: #fff;
				background-color: #00CEFC;
			}
			
			
	.excursions{
		
	}
		.excursions li{
			display: inline-block;
			margin-right: 15px;
			margin-top: 45px;
			width: 307px;
			vertical-align: top;
		}
		.excursions li:nth-child(3n){
			margin-right: 0;
		}
			.excursions li a{ 
				display: block;
			}
			.excursions li a div{
				position: relative;
				background-size: cover;
				background-position: 50% 50%;
				width: 100%;
				height: 203px;
			}
				.excursions li a div span{
					position: absolute;
    				right: -6px;
    				bottom: 18px;
    				width: 143px;
    				text-align: center;
    				height: 53px;
    				box-sizing: border-box;
    				padding: 15px 0 15px 15px;
    				background-image: url("../i/price.png");
    				background-position: 50% 50%;
    				background-repeat: no-repeat;
    				font-family: "museo_sans_cyrl500";
    				font-size: 16px;
    				line-height: 1.75;
    				color: #fff;
				}
			.excursions li a h3{ 
				font-family: "museo_sans_cyrl500";
				font-size: 18px;
				line-height: 1.556;
				margin-top: 14px;
			}
				.excursions li h3:hover{ 
					text-decoration: underline;
				}
			.excursions li p {
				font-family: "museo_sans_cyrl100";
				font-size: 14px;
				line-height: 1.286;
				color: #7e7e7e;
				margin-top: 12px;
			}
			.excursions li h5{
				font-family: "museo_sans_cyrl300";
				position: relative;
				font-size: 14px;
				line-height: 1.2;
				color: #00CEFC;
				margin-left: 16px;
				margin-top: 9px;
			}
				.excursions li h5 span{
					font-family: "museo_sans_cyrl100";
					color: #7e7e7e;
					margin-left: 6px;
				}
				.excursions li h5.icon:before {
					top: -1px;
					left: -16px;
				}
			.excursions li h4{
				font-family: "museo_sans_cyrl500";
				font-size: 24px;
				color: #282828;
				margin-top: 2px;
			}
			.b-excurs-list .b-block .excursions li .price {
				margin-top: 13px;
			}

.b-reviews {
	background-image: url("../i/reviews.jpg");
}
	.b-reviews .b-block .reviews-slider .arrow-cont {
		position: absolute;
		top: -53px;
		width: 26px;
		height: 26px;
		border: 2px solid #00CEFC;
		border-radius: 50%;
		cursor: pointer;
	}
		.b-reviews .b-block .reviews-slider .arrow-cont.left-arrow {
			right: 43px;
		}
		.b-reviews .b-block .reviews-slider .arrow-cont.right-arrow {
			right: 6px;
		}
	.b-reviews .b-block .reviews-slider .arrow-cont .arrow{
		position: absolute;
		top: 6px;
		left: 8px;
		width: 11px;
		height: 15px;
		background-image: url("../i/reviews-arrows.png");
		background-repeat: no-repeat;
		background-position: 100% 50%;
		
	}
	.b-reviews .b-block .reviews-slider .arrow-cont.left-arrow span{
		background-position: 0% 50%;
	
		left: 6px;
}
	.b-reviews .b-block .reviews-slider .arrow-cont:hover {
		background-color: #00CEFC;
	}
		.b-reviews .b-block .reviews-slider .arrow-cont.left-arrow:hover span{
			background-position: -11px 50%;
		}
		.b-reviews .b-block .reviews-slider .arrow-cont.right-arrow:hover span{
			background-position: -22px 50%;
		}

	.b-reviews .b-block .review {
		margin-top: 24px;
		display: table;
		min-height: 146px;
	}
		.b-reviews .b-block .review .photo-cont {
			display: table-cell;
			vertical-align: top;
		}
			.b-reviews .b-block .review .photo{
				width: 140px;
				height: 140px;
				background-size: cover;
				border-radius: 50%;
				background-position: 50% 0%;
			}
		.b-reviews .b-block .review .comment {
			display: table-cell;
			vertical-align: middle;
			width: 730px;
			padding-left: 26px;
		
			box-sizing: border-box;
}
		.b-reviews .b-block .review .comment p{
			margin-top: 0;
		}
		.b-reviews .b-block .review .comment h3{
			font-family: "museo_sans_cyrl500";
			font-size: 20px;
			line-height: 1.2;
			color: #262626;
			margin-top: 10px;
		}
.b-question {

}
	.b-question .b-block {
		padding-top: 43px;
		text-align: left;
		padding-bottom: 43px;
	}

		.b-question .b-block .left{
			width: 240px;
		}
			.b-question .b-block .left h3{
				font-family: "museo_sans_cyrl500";
				font-size: 20px;
				line-height: 1.2;
				color: #262626;
			}
			.b-question .b-block .left h4{
				font-family: "museo_sans_cyrl300";
				font-size: 16px;
				line-height: 1.375;
				margin-top: 7px;
				color: #5a5a5a;
			}
		.b-question .b-block .right {
    		margin-top: 18px;
		}
			.b-question .b-block .right input{
				border-radius: 17px;
				border: 2px solid #00CEFC;
				padding: 8px 14px 7px;
				margin-right: 9px;
				width: 160px;
				box-sizing: border-box;
				font-family: "museo_sans_cyrl300";
				font-size: 16px;
			}
			.b-question .b-block .right input[type=submit]{
				color: #fff;
				background-color: #00CEFC;
				margin-right: 0;
				cursor: pointer;
			}
			.b-question .b-block .right input[type=submit]:hover{
				background-color: #00B7E8;
				border: 2px solid #00B7E8;
			}
.b-footer {
	background-color: #363636;
}
	.b-footer .b-block {
		text-align: left;
		padding-top: 42px;
		padding-bottom: 38px;
	}
		.b-footer .b-block .footer-services{
			width: 270px;
			margin-right: 121px;
		}
		.b-footer .b-block .right{
			width: 230px;		
		
			margin-right: 14px;
}
			.b-footer .b-block  h3{
				font-family: "museo_sans_cyrl300";
				font-size: 20px;
				line-height: 1.2;
				color: #fff;
				margin-bottom: 13px;
			}
			.b-footer .b-block  .line{
				width: 141px;
				height: 2px;
				background-color: #00CEFC;
			}
			.b-footer .b-block .right .line{
				margin-bottom: 10px;
			}

			.b-footer .b-block .footer-menu{
    			margin-top: 10px;
	
			}
				.b-footer .b-block  .footer-menu li{
	
				}
					.b-footer .b-block a,.b-footer .b-block p{
						font-family: "museo_sans_cyrl100";
						font-size: 16px;
						line-height: 2.063;
						color: #fff;
					}
						.b-footer .b-block  .footer-menu li a:hover{
							text-decoration: underline;
						}
					.b-footer .b-block a.link {
						text-decoration: underline;
					}
					.b-footer .b-block a.link:hover {
						text-decoration: none;
					}
				.b-footer .b-block  .footer-menu li .footer-submenu{

				}
					.b-footer .b-block  .footer-menu li .footer-submenu li{
						position: relative;
					}
						.b-footer .b-block  .footer-menu li .footer-submenu li:before {
						    content: "•";
						    color: #00CEFC;
						    font-size: 10px;
						    position: absolute;
						    top: 9px;
						}
						.b-footer .b-block  .footer-menu li .footer-submenu li a{
							padding-left: 16px;
						}
.b-content {

}
	.b-content.desc-back{
		background-color: #f8f8f8;
	}


.city-tabs {

}
	.city-tabs .b-block{
    padding-top: 15px;
	
	}
		.city-tabs .b-block ul{
    text-align: left;
		
		}
			.city-tabs .b-block ul li{
				display: inline-block;
				margin-right: 15px;
			
				min-width: 210px;
				text-align: center;
}
				.city-tabs .b-block ul li a{
					color: #fff;
					display: block;
					padding: 16px 0 9px;
					font-family: "museo_sans_cyrl300";
					font-size: 18px;
					line-height: 1.2;    
					border-radius: 9px 9px 0 0; 
					background-color: #00CEFC;
					box-shadow: inset 0px -4px 16.93px 3.07px rgba(0, 0, 0, 0.13);                         
				}
				.city-tabs .b-block ul li.active a {
					font-family: "museo_sans_cyrl500";
					color: #00CEFC;
					background-color: #f8f8f8;
					box-shadow: 0px -5px 6px -2px rgba(0, 0, 0, 0.09);
				}
.b-filter {
	background-color: #f8f8f8;
}
	.b-filter .b-block {
    padding-top: 42px;
    padding-bottom: 44px;
		
	}
		.b-filter .b-block .tabs li{
			margin-right: 15px;
			font-size: 14px;
			border-radius: 17px;
			padding: 7px 19px 6px;
		}
		.b-filter .b-block .filter-items {
		    margin-top: 34px;	
		    margin-left: 14px;
		}
			.b-filter .b-block .filter-items li.icon{
				font-family: "museo_sans_cyrl300";
				font-size: 18px;
				line-height: 1.2;
				color: #00CEFC;
				cursor: pointer;
				float: left;
				position: relative;
				margin-right: 35px;
			}
				.b-filter .b-block .filter-items li.icon:hover {
					text-decoration: underline;
				}
				.b-filter .b-block .filter-items li.icon .filter-popup {
					display: none;
					padding: 15px 22px 15px 22px;
					border: 2px solid #00CEFC;
					position: absolute;		
					z-index: 999;
					top: 34px;
					left: -13px;
					background-color: #00CEFC;
				}
				.b-filter .b-block .filter-items li .filter-popup input[type=submit] {
					background-color: #fff;
					color: #00CEFC;
					width: 100px;
				    margin-top: 10px;
				    padding: 7px 0 6px;
				}
					.b-filter .b-block .filter-items li .filter-popup input[type=submit]:hover {
						background-color: #cfeff9;
    					
					}
				.b-filter .b-block .filter-items li .filter-popup.slider {
					background-color: #fff;
					padding: 15px;
				}
				.b-filter .b-block .filter-items li .filter-popup.slider input[type=submit] {
					background-color: #00CEFC;
					color: #fff;
					margin-top: 20px;
					margin-right: 10px;
				}
					.b-filter .b-block .filter-items li .filter-popup.slider input[type=submit]:hover {
						background-color: #00B7E8;
					}
				.b-filter .b-block .filter-items li .filter-popup .popup-slider .slider-text{
				    width: 196px;
				}
				.b-filter .b-block .filter-items li .filter-popup h3 {
					font-family: "museo_sans_cyrl300";
					font-size: 12px;
				}
				
				.b-filter .b-block .filter-items .slider-range {
					background-color: #75ecff;
					height: 5px;
					width: 159px;
					margin-left: 14px;
					margin-top: 9px;
				
}
				.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
					background: url("../i/slider-range.png") no-repeat;
					border:none;
					width: 20px;
					height: 15px;
					cursor: pointer;
					top: -5px;
				}



				.b-main .b-block .b-main-filter .filter-cont .check-cont {
					max-height: 195px;
					margin-top: 16px;
					overflow: auto;
				}
					.b-filter .b-block .filter-items li.icon .filter-popup ul {
						display: block;
						float: left;
					}
					.b-filter .b-block .filter-items li.icon .filter-popup ul:nth-child(n+2) {
						margin-left: 22px;
					}
					.b-filter .b-block .filter-items li.icon .filter-popup ul li {
						margin-bottom: 7px;
					}
					.b-filter .b-block .filter-items li.icon .filter-popup li input {
						display: none;
					}
					.b-filter .b-block .filter-items li.icon .filter-popup li input:checked + label .checked {
						display: block;
					}
					.b-filter .b-block .filter-items li.icon .filter-popup li label {
						display: block;
						cursor: pointer; 
						position: relative;
					}
						.b-filter .b-block .filter-items li.icon .filter-popup li label .checked {
							display: none;
							position: absolute;
							top: 1px;
							left: -9px;
							border: 2px solid #fff;
  							border-radius: 4px;
  							width: 7px;
  							height: 7px;
  							background: url("../i/check.png") no-repeat;
  							
							background-position: 50% 50%;
						
							background-size: 115%;
}

span.checked {}
						.b-filter .b-block .filter-items li.icon .filter-popup li label h3 {
							padding-left: 9px;
							/* max-width: 138px; */
							color: #fff;
							position: relative;
							text-align: left;
}
						.b-filter .b-block .filter-items li.icon .filter-popup li label h3:before {
							position: absolute;
							font-size: 0;
							content: "s";
							top: 0px;
							left: -10px;
							border: 2px solid #fff;
  							border-radius: 4px;
  							width: 9px;
  							height: 9px;
						}




				

		.b-filter .b-block .filter-items .icon.filter-age {
			padding-left: 3px;
		}
			.icon:before {
				background-image: url("../i/filter-icons.png");
				background-repeat: no-repeat;
				background-position-y: 50%;
				position: absolute;
				height: 14px;
				width: 11px;	
				content: "s";
				font-size: 0px;
				top: 2px;
				left: -13px;
			}
			.icon.filter-price:before {
				background-position-x: 0px;
				width: 8px;		
			}
			.icon.filter-timetable:before {
				background-position-x: -8px;		
				left: -15px;
			}
			.icon.filter-duration:before {
				background-position-x: -19px;		
				left: -14px;
			}
			.icon.filter-location:before {
				background-position-x: -30px;
				width: 10px;
			}
			.icon.filter-age:before {
				background-position-x: -40px;
			}
			.icon.filter-food:before {
				background-position-x: -51px;
				width: 13px;
				left: -17px;
			}
			.icon.filter-water:before {
				background-position-x: -64px;
				width: 9px;
			}
			.icon.filter-relax:before {
				background-position-x: -73px;
				width: 8px;
			}
			
.b-excurs-list {
	text-align: left;
}
	.b-excurs-list .b-block {
		padding-top: 35px;
		padding-bottom: 9px;
	}
	.b-excurs-list .b-block .excursions {
    	margin-top: 25px;
	}
		.b-excurs-list .b-block .excursions li{
    		margin-top: 0;
    		margin-bottom: 43px;
		}	
		.b-excurs-list .b-block .excursions.bot li {
			vertical-align: bottom;
		}
			.b-excurs-list .b-block .excursions li a h3{
				margin-top: 0;		
				margin-bottom: 16px;
			}
				

.b-question-blue {
    background-color: #00CEFC;

}
	.b-question-blue .b-block{
    	padding-top: 42px;
	}
		.b-question-blue .b-block .left h3,.b-question-blue .b-block .left h4 {
			color: #fff;
		}
		.b-question-blue .b-block .left h3 {
			font-family: "museo_sans_cyrl300";
		}
		.b-question-blue .b-block .left h4 {
			font-family: "museo_sans_cyrl100";
		}
		.b-question-blue .b-block .right input {
			border: 2px solid #fff;
		}
		.b-question-blue .b-block .right input[type=submit] {
			background-color: #fff;
			color: #00CEFC;
			font-family: "museo_sans_cyrl500";
		}  
		.b-question-blue .b-block .right input[type=submit]:hover {
			background-color: #cfeff9;
			border: 2px solid #cfeff9;
		}  
.sub-menu {

}
	.sub-menu .b-block {
    padding-top: 21px;
    padding-bottom: 21px;

	}
		.sub-menu .b-block ul {

		}
			.sub-menu .b-block ul li {
				float: left;
				margin-right: 44px;
				position: relative;
			}
				.sub-menu .b-block ul li:after {
					background-image: url("../i/menu-arrow.png");
					background-repeat: no-repeat;
					background-position: 50%;
					position: absolute;
					width: 23px;	
					height: 5px;
					content: "s";
					font-size: 0px;
					top: 7px;
					right: -34px;
				}
				.sub-menu .b-block ul li.active:after {
					background: none;
				}
				.sub-menu .b-block ul li a{
					font-family: "museo_sans_cyrl300";
					font-size: 14px;
					line-height: 1.2;
					color: #00CEFC;
				}
					.sub-menu .b-block ul li a:hover {
						text-decoration: underline;
					}
				.sub-menu .b-block ul li.active a {
					color: #4a4a4a;
					cursor: default;
				}
					.sub-menu .b-block ul li.active a:hover {
						text-decoration: none;
					}
.desc-content {

}
	.desc-content .b-block {
		text-align: left;
	}
		.desc-content .b-block .desc{
			box-sizing: border-box;
			border-radius: 5px;
			background-color: #fff;
		}
		.desc-content .b-block .desc-left {
			float: left;
			width: 715px;
			padding: 26px 21px 35px;
		}
			.desc-content .b-block h2{
				font-size: 24px;
				color: #2d2d2d;
			}
			.desc-content .b-block p{
				font-family: "museo_sans_cyrl100";
				font-size: 14px;
				color: #383838;
				line-height: 1.75;
			}
			.desc-content .b-block .desc-left p {
				
			}
			.desc-content .b-block .desc-left .desc-slider {
				margin-top: 17px;
				margin-bottom: 29px;
			}

			.desc-content .b-block .desc-left .desc-slider .arrow{
				position: absolute;
				top: 50%;
				margin-top: -36px;
				width: 40px;
				height: 72px;
				background-image: url("../i/desc-slider-arrows.png");
				background-repeat: no-repeat;
				background-position: 0% 50%;
				cursor: pointer;
				
			}
				.desc-content .b-block .desc-left .desc-slider .arrow.left-arrow {
					left: 0px;
				}
					.desc-content .b-block .desc-left .desc-slider .arrow.left-arrow:hover {
						background-position: -40px 50%;
					}
				.desc-content .b-block .desc-left .desc-slider .arrow.right-arrow {
					right: 0px;
					background-position: 100% 50%;
				}
					.desc-content .b-block .desc-left .desc-slider .arrow.right-arrow:hover {
						background-position: -80px 50%;
					}
				.desc-content .b-block .desc-left .desc-slider .slide{
					background-size: cover; 
					background-position: 50% 50%;
					width: 100%;
					height: 300px;
				}
			.desc-content .b-block .b-blue-butt {
				width: 180px;
				padding: 12px 0 11px;
				margin-top: 5px;
			}
		.desc-content .b-block .desc-right {
			float: right;
			width: 226px;
		}
			.desc-content .b-block .desc-right .desc {
				box-sizing: border-box;
				width: 100%;
				padding: 11px 18px 21px 21px;
			}
			.desc-content .b-block .desc-right .short-desc > div {
				padding: 16px 0 18px;
				border-bottom: 1px solid #ebebeb;
			}
			.desc-content .b-block .desc-right h2 {
				font-size: 18px;
			}
			.desc-content .b-block .desc-right .short-desc p {
				line-height: 1.2;
			
				margin-top: 7px;
}
			.desc-content .b-block .desc-right .short-desc h3 {
				font-family: "museo_sans_cyrl500";
				font-size: 14px;
				line-height: 1.286;
			}
			.desc-content .b-block .desc-right .short-desc .tel {
				font-family: "museo_sans_cyrl100";
				font-size: 14px;
				margin-top: 1px;
				display: block;
				color:  #00CEFC;
				text-decoration: underline;
			}
				.desc-content .b-block .desc-right .short-desc .tel:hover {
					text-decoration: none;
				}
			.desc-content .b-block .desc-right .short-desc .option-cont {
				padding-top: 7px;
			}
				.desc-content .b-block .desc-right .short-desc .option-cont .option {
					margin-top: 14px;
				}
					.desc-content .b-block .desc-right .short-desc .option h4 {
						font-family: "museo_sans_cyrl300";
						font-size: 14px;
						line-height: 1.2;
						color:  #00CEFC;
						position: relative;
						margin-left: 14px;
					}
						.desc-content .b-block .desc-right .short-desc .option h4.icon:before {
						    top: -1px;						
						    left: -15px;
						}
						.desc-content .b-block .desc-right .short-desc .option h4.icon.filter-price:before {					
						    left: -13px;
						}
					.desc-content .b-block .desc-right .short-desc .option h5 {
						font-family: "museo_sans_cyrl100";
						font-size: 14px;
						line-height: 1.2;
						color: #7e7e7e;
						margin-top: 9px;

					}
					.desc-content .b-block .desc-right .option h5.price {
						font-family: "museo_sans_cyrl300";
						font-size: 24px;
						color: #4e4e4e;
					}
			.desc-content .b-block .desc-right .b-blue-butt {
				width: 100%;
				margin-top: 20px;
			}
			.desc-content .b-block .desc-right .other {
				margin-top: 20px;
				padding: 26px 23px 32px 20px;
			}
				.desc-content .b-block .desc-right .other a{
					display: block;
					margin-top: 22px;
				}
					.desc-content .b-block .desc-right .other a div{
						position: relative;
					    
						background-size: cover;
					    background-position: 50% 50%;
					    width: 100%;
					    height: 132px;
					}
						.desc-content .b-block .desc-right .other a div span{
							position: absolute;
							right: -4px;
							bottom: 19px;    
							width: 118px;    
							height: 44px;
						    box-sizing: border-box;    
							padding: 10px 0 0 23px;
						    background-image: url("../i/price-other.png");
						    background-position: 50% 50%;
						    background-repeat: no-repeat;
						    font-family: "museo_sans_cyrl500";
						    font-size: 14px;
						    line-height: 2;
						    color: #fff;
						}
					.desc-content .b-block .desc-right .other a h3{
						font-family: "museo_sans_cyrl300";
						font-size: 14px;
						line-height: 1.2;
						color: #000;
						margin-top: 6px;
					}
						.desc-content .b-block .desc-right .other h3:hover{
							text-decoration: underline;
						}
.b-desc-reviews {
	background: none;
	padding: 20px 0 20px;
}
	.b-desc-reviews .b-block h2 {
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 16px;
	}
	.b-desc-reviews .b-block p {
		font-size: 14px;
		line-height: 1.714;
	}
	.b-desc-reviews .b-block .review .comment h3 {
		font-size: 18px;
		margin-top: 15px;
	}
.b-empty{
	display: none;
	margin-top: 50px;
	color: #000;
	font-family: "museo_sans_cyrl300";
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 10px;
}

@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}